/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
@import "compass/css3";

#zone-user-wrapper {
	.region-user-second {
		width: initial;
	}

	.region-user-second-inner {
		font-size: initial;
		
		div {
			margin: 0 10px 0 0;
		}
	}
}

#zone-postscript2 {
	a.learnmore-button {
		position: absolute;
		right: 22px;
		bottom: 21px;
		display: inline;
		padding: 5px 15px;
	}

	.region {
		margin-bottom: 0;
		
		.block {
			padding: 10px 40px 55px;
		}
	}
}

body.front {
	#zone-user-wrapper {
		@include single-box-shadow(0, 0, 20px, null, #505050, null);
	}

	#zone-branding-wrapper {
		position: relative;
		@include single-box-shadow(0, 0, 20px, null, #505050, null);
	}
}

#zone-branding-wrapper {
	#zone-branding {
		#block-tb-megamenu-main-menu {
			float: right;
			margin-right: -10px;
		}

		.tb-megamenu {
			.nav-collapse {
				.dropdown-toggle {
					background-color: transparent;
				}
			}

			margin-top: 25px;
			background-color: transparent;
			text-transform: lowercase;
			
			.dropdown-toggle {
				border: none;
				color: #000;
				font-weight: 100;
				padding: 10px;
			}

			.dropdown-menu .active > a {
				background: #eee;
			}


			.dropdown-menu {
				background-color: #fff;

				.active > a {
					//background: #C31010;
					font-weight: bold;
					color: #a9233a;
					//color: #11b5e4;
				}

				li > a:hover {
					color: #a9233a;
					//font-weight: bold;
				}
			}

			.nav {
				li.dropdown.open > .dropdown-toggle {
					color: #a9233a;
				}
			}
		}

		.region-menu {
				.primary-menu {
					float: right;
			}
		}
	}
}

.group-middle {
	.field-name-contact-webform {
		.form-item {
			width: 35%;
		}

		.webform-component-textarea {
			width: 80%;
		}
	}
}

.ds-3col-stacked-fluid .group-right {
	width: 25%;
}

.field-name-contact-us-map {
	padding-bottom: 30px;

	iframe {
		width: 100%;
	}
}