// This file will hold styles for the mobile version of your website (mobile first).
// This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide.
// Override Omega

// Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
@import "compass/css3";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
// End Variables & Mixins

//HTML


.front {
	.block-blockify-blockify-page-title {
		display: none;
	}

	#zone-header-wrapper {
		display: none;
	}
}

.html {
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #11baea;
	@include single-text-shadow(0, 0, 1px, false, #9b9b9b);
}

h2 {
	font-size: 38px;
}

body p {
	color: #4f4f4f;
	@include single-text-shadow(0, 0, 3px, false, #e5e5e5);
	font-size: 14px;
	line-height: 22px;
}

//Header
#block-tb-megamenu-main-menu {
	.tb-megamenu {
		.nav > li {
			margin: 0 0 0 25px;
		}
	}
}

#block-tb-megamenu-main-menu ul li ul li a {
	font-size: 12px;
	@include single-text-shadow(0, 0, 7px, false, #e8e8e8);
	color: #fff;
}

#block-tb-megamenu-main-menu ul li a {
	font-weight: 500;
	font-size: 19px;
	text-shadow: 0 0 7px #d7d7d7;
	color: #a30000;
}

#zone-header-wrapper {
	background: #3a3a3a;
	padding: 7px 0;
	margin-bottom: 25px;
}

#zone-user-wrapper {
	height: 36px;
	background: #11BAEA;
	line-height: 36px;
	//@include single-box-shadow(0, 0, 10px, null, #181818, null);

	.region-user-second {
		background: #11BAEA;

		.region-user-second-inner {
			font-size: 10px;
		}

		div {
			font-size: 15px;
			float: right;
			color: #fff;
			font-weight: bold;
			margin: 0;
		}
	}
}

body.front {
	#zone-branding-wrapper {
		position: relative;
		//@include single-box-shadow(0, 0, 20px, null, #505050, null);
	}
}



#zone-branding-wrapper {
	#zone-branding {
		.region-branding {
			margin-right: 30px;
		}

		.tb-megamenu {
			button {
				width: 100%;
			}

			.row-fluid {
				background: #343434;
			}

			.nav {
				li.dropdown.open > .dropdown-toggle {
					color: #fff;
				}
			}

			//margin-top: 25px;
			//background-color: transparent;
			text-transform: lowercase;
			
			.dropdown-toggle {
				border: none;
				//color: #000;
				//font-weight: normal;
				padding: 10px;
				background-color: #000;
			}

			.dropdown-menu {
				background-color: #4B4B4A;
			}

			.dropdown-menu li, .dropdown-submenu li{
				a:hover, a:focus {
					color: #fff;
				}
			} 

			ul.tb-megamenu-nav li.level-1:last-child > a {
				padding-right: 15px;
			}

			//ul.level-0 {
			//	float: right;
			//}
		}

		.region-menu {
			margin: 45px 0 0;
		
			.main-menu { 
				a {
					text-transform: lowercase;
					border-color: #fff;
					background-color: #fff;
					color: #000;
					border-radius: 0;

					&.active, &:hover {
						text-decoration: none;
						border-bottom: 3px solid #11BAEA;
					}
				}
				
				li {
					margin-right: 0;
				}

			}
			
			.menu-356 a {
				text-transform: lowercase;
				color: #D50606;
			}
		}
	}
}

//Content
h1#page-title {
	color: #C31010;
}

#zone-preface-wrapper {
	background: url(../images/locations-bg.jpg) no-repeat;
	background-size: cover;
	padding: 0 0 45px 0;
	margin-bottom: -30px;

	.zone-preface {
		background: none;
	}
}

#zone-content {
	background: #fff;
}

//Info Blocks
#zone-postscript2 {
	a.learnmore-button {
                color: #fff;
                margin: 0px 0px;
                font-weight: bold;
                @include rounded-corners (3px);
                display: block;
                padding: 10px 0;
                text-align: center;
    	}

	.region {
		position: relative;
		margin-bottom: 15px;
		//box-shadow: 0 0 5px #646464;
		@include single-box-shadow(0, 0, 5px, null, #646464, null);
		@include rounded-corners (3px);


		.block {
			position: static;
			padding: 10px 20px 0;

			h2 {
				text-transform: lowercase;
				color: #fff;
				border-bottom: 1px solid #fff;
				line-height: 1.5em;
  				margin-bottom: 15px;
  				font-size: 21px;
				@include single-text-shadow(1px, 2px, 4px, false, #555555);
			}
		}
	}

	.region-postscript2-first {
		background: #E3C9AC;

		a.learnmore-button {
			background: #B48456;
		}
	}

	.region-postscript2-second {
		background: #B48456;

		a.learnmore-button {
			background: #DFC1A3;
		}
	}

	.region-postscript2-third {
		background: #C6C6B8;

		a.learnmore-button {
			background: #11BAEA;
		}
	}
}

#block-block-9 {
	font-size: 10px;
}

#block-block-8, #block-block-9 {
	p {
		font-size: 12px;
		padding: 2px 0 0 0;
		font-style: italic;
		color: #fff;
		@include single-text-shadow(0, 0, 5px, false, #2d2d2d);
	}
}

#zone-footer2 {
	h2 {
		color: #fff;
	}
}

//Testimonials
#zone-postscript-wrapper {

	background: url(../images/testimonials-bg.jpg);
	
	background-position: center top;
	background-repeat: no-repeat;

	.node-teaser {
		font-family: 'Open Sans';
		color: #fff;
		font-style: italic;
		font-size: 200%;
		border: none;

		.field-name-field-author {
			float: right;
			font-weight: bold;

			.field-item:before {
				content: '- ';
			}
		}
	}
}

//Native BG transitions
.nativeBgTransition {	
	@include single-transition(background, 2s, cubic-bezier(0.075, 0.820, 0.165, 1.000), 0ms);
}

//Sponsors
#zone-footer-wrapper {
	background: #fff;
}

//Footer 2
#zone-footer2-wrapper {
	@include background-image(linear-gradient(#4d4d4d, #2c2c2c));

	h2.block-title {
		font-size: 16px;
		font-weight: 600;
	}
}

.section-footer {
	@include single-text-shadow(1px, 3px, 4px, false, #000);

	ul.menu {
		li {
			width: 50%;
			float: left;
			font-size: 12px;
			padding: 2px 0 0 0;
			font-style: italic;

			a:link {
				color: #fff;
			}
		}

		a:link, a:visited {
			color: #fff;
		}

		a:hover {
			color: #eaeaea;
		}
	}
}

//Not Front
.not-front {
	#section-header {
		@include single-box-shadow(0, 0, 10px, null, #d3d3d3, null);
	}

	#zone-content {
		background: transparent;
	}

	.section-content {
		//@include background-image(linear-gradient(#eee, #cecece));
		@include background-image(radial-gradient(1000px 1000px, #eee, #cecece));
	}

	h1#page-title {
		color: #fff;
		@include single-text-shadow(0, 0, 10px, false, #202020);
		margin: 10px 0;
		text-transform: lowercase;
		font-size: 44px;
	}
}

//Contact Us
.group-header {
	.field-name-field-page-banner {
		margin-bottom: 20px;
	}
}

.group-right {
	.field-name-still-have-questions-, .field-name-apply-now-side-bar {
		background: #fff;
		border-radius: 0 0 4px 4px;
		margin-bottom: 10px;

		h2.block-title {
			background: #444;
			padding: 8px 11px;
			border-radius: 4px 4px 0 0;
			color: #fff;
			font-size: 15px;
		}

		.apply-now {
			font-size: 11px;
			font-weight: normal;
			color: #000;
		}

		.contact-us-link-wrapper, .apply-now {
			padding: 4px 20px;
			border-bottom: 1px solid #c1c1c1;
			border-right: 1px solid #c1c1c1;
			border-left: 1px solid #c1c1c1;

			.contact-us-button {
				font-size: 11px;
				font-weight: normal;
				color: #000;
			}
		}
	}

	.field-name-student-services-sub-menu-, .field-name-about-pes-sidemenu, .field-name-school-services-sub-menu-, .field-name-affiliation-sub-menu, .field-name-news-events {
		margin-bottom: 10px;

		h2.block-title {
			font-size: 14px;
			background: #11baea;
			padding: 9px 10px;
			color: #fff;
			border-radius: 4px 4px 0 0;
			//text-shadow: 0 0 3px #2d2d2d;
			@include single-text-shadow(0, 0, 3px, false, #2d2d2d);
		}

		.tb-megamenu {
			.nav > li {
				float: none;
				background: #fff;
				border-bottom: 1px solid #c1c1c1;
				border-right: 1px solid #c1c1c1;
				border-left: 1px solid #c1c1c1;
			}

			.nav > .active > a {
				background: #444;
				color: #fff;
				font-weight: bold;
			}

			.nav > li > a {
				font-weight: normal;
				padding: 6px 20px;
				font-size: 11px;
				border-right: none;
				color: #000;

				&:hover {
					background: #b0afaf;
				}
			}
		}
	}
}

body {
	font-family: 'lato', arial, helvetica, sans-serif;
}

.group-middle {
	.breadcrumb {
		margin: 0 20px 20px 0;
		background: transparent;
		border: none;
		color: #444;
		padding: 0;
		font-size: 15px;

		a {
			color: #444;
		}
	}
}