/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
@import "compass/css3";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400);
/* End Variables & Mixins */

/*HTML*/
.html {
	background: #fff;
}

/*Header*/
#zone-user-wrapper {
	height: 45px;
	background: #11BAEA;
	line-height: 45px;

	.region-user-second {
		background: #11BAEA;

		div {
			float: right;
			color: #fff;
			font-weight: bold;
			margin: 0 10px 0 0;
		}
	}
}

#zone-branding {
	.region-menu {
		margin: 45px 0 0;
	
		.main-menu { 
			a {
				text-transform: lowercase;
				border-color: #fff;
				background-color: #fff;
				color: #000;
				border-radius: 0;

				&.active, &:hover {
					text-decoration: none;
					border-bottom: 3px solid #11BAEA;
				}
			}
			
			li {
				margin-right: 0;
			}

		}
		
		.menu-356 a {
			text-transform: lowercase;
			color: #D50606;
		}
	}
}

/*Content*/
#zone-preface-wrapper {
	background: url(../images/locations-bg.jpg) no-repeat;
	background-size: cover;

	.zone-preface {
		background: none;
	}

	.form-item input {
		width: 50%;
	}
}

#zone-content {
	background: #fff;
}

/*Info Blocks*/
#zone-postscript2 {
	a.learnmore-button {
                color: #fff;
                margin: 0px 0px;
                font-weight: bold;
                @include rounded-corners (3px);
                display: block;
                padding: 10px 0;
                text-align: center;
    	}

	.region {
		position: relative;
		margin-bottom: 15px;
		/*box-shadow: 0 0 5px #646464;*/
		@include single-box-shadow(0, 0, 5px, null, #646464, null);
		@include rounded-corners (3px);


		.block {
			position: static;
			padding: 10px 20px 0;

			h2 {
				text-transform: lowercase;
				color: #fff;
				border-bottom: 1px solid #fff;
				line-height: 1.5em;
  				margin-bottom: 15px;
  				font-size: 21px;
				@include single-text-shadow(1px, 2px, 4px, false, #555555);
			}
		}
	}

	.region-postscript2-first {
		background: #E3C9AC;

		a.learnmore-button {
			background: #B48456;
		}
	}

	.region-postscript2-second {
		background: #B48456;

		a.learnmore-button {
			background: #DFC1A3;
		}
	}

	.region-postscript2-third {
		background: #C6C6B8;

		a.learnmore-button {
			background: #11BAEA;
		}
	}
}

/*Testimonials*/
#zone-postscript-wrapper {
	background: url(../images/testimonials-bg.jpg);
	
	background-position: center top;
	background-repeat: no-repeat;

	.node-teaser {
		font-family: 'Open Sans';
		color: #fff;
		font-style: italic;
		font-size: 200%;
		border: none;

		.field-name-field-author {
			float: right;
			font-weight: bold;

			.field-item:before {
				content: '- ';
			}
		}
	}
}

.front-testimonials {
	hr {
		background: #fff;
		margin: 0 25%;
		height: 2px;
	}

	.views-row-last {
		hr {
			display: none;
		}
	}
}

/*Sponsors*/
#zone-footer-wrapper {
	background: #fff;

	.front-sponsors {
		.view-content {
			@include display-flex;
			@include flex-direction(row);
			@include justify-content(center);
		}	

		.views-row {
			margin-right: 10px;
		}

		.views-row-last {
			margin-right: 0;
		}
	}
}
