/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
/* End Variables & Mixins */

/*Header*/
#zone-user-wrapper {
	.region-user-second {
		p {
			text-align: right;
		}
	}
}

/*Info Blocks*/
#zone-postscript2 {
	.region-postscript2-first {
		.block {
			background: #E3C0AC;
			@include rounded-corners(3px);
		} 
	}

	.region-postscript2-second {
		
	}

	.region-postscript2-third {
			
	}
}

/*Testimonials*/
.front-testimonials {
	.views-row-last {
		hr {
			display: none;
		}
	}
}
