// Stylesheet for custom views.

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
@import "compass/css3";

#block-views-exp-location-page {
	textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
		font-weight: bold;
	}
}

#views-exposed-form-location-page {
	.views-exposed-widget {
		padding: 0 15px 15px;
		width: 100%;

		h2 {
			margin: 0;
	  		font-weight: bold;
			text-align: center;
			color: #fff;
			font-size: 1.4em;
			padding: 10px 0;
		}

		@include alpha-background-color(rgba(17, 186, 234, 0.86), #11BAEA);
		@include box-sizing(border-box);
		
		&:nth-child(3), &:nth-child(4), &#edit-field-location-patient-settings-tid-wrapper, &#edit-field-location-max-exposure-tid-wrapper {
			@include alpha-background-color(rgba(68, 68, 68, 0.94), #444444);
		}

		&:first-child, &#edit-field-location-specialty-tid-wrapper {
			@include rounded-corners(2px 2px 0 0);
		}

		&:last-child, &.views-submit-button {
			@include rounded-corners(0 0 2px 2px);
		}

		label {
			font-weight: 600;
			color: #fff;
			text-transform: lowercase;
			font-size: 1.2em;
			margin: 0 0 3px 0;
		}

		select, input {
			width: 100%;
		}

		select, input {
			border-radius: 4px;
			padding: 9px;
		}

		input.form-submit {
			border:1px solid #cc0000; 
			-webkit-border-radius: 3px; 
			-moz-border-radius: 3px;
			border-radius: 3px;
			font-size: 1.5em;
			padding: 10px; 
			text-decoration:none; 
			display:inline-block;
			/*text-shadow: -1px -1px 0 rgba(0,0,0,0.3);*/
			font-weight: bold; 
			color: #FFFFFF;
			text-transform: lowercase;
			font-family: "Open Sans", sans-serif;
			letter-spacing: 1px;
			margin: 0;
			
			background-color: #cc0000;
			background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
			background-image: -webkit-radial-gradient(center, ellipse cover,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
			background-image: -moz-radial-gradient(center, ellipse cover,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
			background-image: -ms-radial-gradient(center, ellipse cover,  #cc0000 0%,#cc0000 100%); /* IE10+ */
			background-image: -o-radial-gradient(center, ellipse cover,  #cc0000 0%,#cc0000 100%); /* Opera 12+ */
			background-image: radial-gradient(ellipse at center,  #cc0000 0%,#cc0000 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			&:hover {
				border:1px solid #cc0000;
				background-color: #cc0000; 
				background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cc0000), color-stop(100%,#960c00)); /* Chrome,Safari4+ */
				background-image: -webkit-radial-gradient(center, ellipse cover,  #cc0000 0%,#960c00 100%); /* Chrome10+,Safari5.1+ */
				background-image: -moz-radial-gradient(center, ellipse cover,  #cc0000 0%, #960c00 100%); /* FF3.6+ */
				background-image: -ms-radial-gradient(center, ellipse cover,  #cc0000 0%,#960c00 100%); /* IE10+ */
				background-image: -o-radial-gradient(center, ellipse cover,  #cc0000 0%,#960c00 100%); /* Opera 12+ */
				background-image: radial-gradient(ellipse at center,  #cc0000 0%,#960c00 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#960c00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
		}
	}
}

body.page-locations {
	.region-content h1 {
		display: none;
	}
}

.front-testimonials {
	hr {
		background: #fff;
		margin: 0 25%;
		height: 2px;
	}

	.views-row-last {
		hr {
			display: none;
		}
	}
}

.front-sponsors {
	.view-content {
		@include display-flex;
		@include flex-direction(row);
		@include justify-content(center);
	}	

	.views-row {
		margin-right: 10px;
	}

	.views-row-last {
		margin-right: 0;
	}
}