@import "_mixins.scss";
@import "compass/utilities/sprites";
@import "social_media/*.png";

@include all-social_media-sprites;

a.social-button {
	float: left;

	height: 43px;
	width: 55px;
}

a.twitter {
	@include social-media-button(".social_media-twitter", ".social_media-twitter-h");
	width: 56px;
}

a.facebook {

}

a.gplus {

}

a.youtube {

	width: 62px;
}