@import "_mixins.scss";
@import "compass/utilities/sprites";
@import "social_media/*.png";

@include all-social_media-sprites;

a.social-button {
	float: left;
	height: 43px;
	width: 55px;
}

a.twitter-button {
	@include social-media-button(twitter);
	width: 56px;
}

a.facebook-button {
	@include social-media-button(fbook);
}

a.gplus-button {
	@include social-media-button(gplus);
}

a.youtube-button {
	@include social-media-button(youtube);
	width: 62px;
}