/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
#zone-user-wrapper .region-user-second {
  width: initial; }
#zone-user-wrapper .region-user-second-inner {
  font-size: initial; }
  #zone-user-wrapper .region-user-second-inner div {
    margin: 0 10px 0 0; }

#zone-postscript2 a.learnmore-button {
  position: absolute;
  right: 22px;
  bottom: 21px;
  display: inline;
  padding: 5px 15px; }
#zone-postscript2 .region {
  margin-bottom: 0; }
  #zone-postscript2 .region .block {
    padding: 10px 40px 55px; }

body.front #zone-user-wrapper {
  -moz-box-shadow: 0 0 20px #505050;
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050; }
body.front #zone-branding-wrapper {
  position: relative;
  -moz-box-shadow: 0 0 20px #505050;
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050; }

#zone-branding-wrapper #zone-branding #block-tb-megamenu-main-menu {
  float: right;
  margin-right: -10px; }
#zone-branding-wrapper #zone-branding .tb-megamenu {
  margin-top: 25px;
  background-color: transparent;
  text-transform: lowercase; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .nav-collapse .dropdown-toggle {
    background-color: transparent; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-toggle {
    border: none;
    color: #000;
    font-weight: 100;
    padding: 10px; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-menu .active > a {
    background: #eee; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-menu {
    background-color: #fff; }
    #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-menu .active > a {
      font-weight: bold;
      color: #a9233a; }
    #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-menu li > a:hover {
      color: #a9233a; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: #a9233a; }
#zone-branding-wrapper #zone-branding .region-menu .primary-menu {
  float: right; }

.group-middle .field-name-contact-webform .form-item {
  width: 35%; }
.group-middle .field-name-contact-webform .webform-component-textarea {
  width: 80%; }

.ds-3col-stacked-fluid .group-right {
  width: 25%; }

.field-name-contact-us-map {
  padding-bottom: 30px; }
  .field-name-contact-us-map iframe {
    width: 100%; }
