/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */
#zone-user-wrapper .region-user-second-inner {
  font-size: initial; }
  #zone-user-wrapper .region-user-second-inner div {
    margin: 0 10px 0 0; }

body.front #zone-user-wrapper {
  -moz-box-shadow: 0 0 20px #505050;
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050; }
body.front #zone-branding-wrapper {
  position: relative;
  -moz-box-shadow: 0 0 20px #505050;
  -webkit-box-shadow: 0 0 20px #505050;
  box-shadow: 0 0 20px #505050; }

#zone-postscript2 a.learnmore-button {
  position: absolute;
  right: 22px;
  bottom: 14px;
  display: inline;
  padding: 5px 15px; }
#zone-postscript2 .region .block {
  padding: 10px 20px 55px; }

#zone-branding-wrapper #zone-branding .tb-megamenu {
  margin-top: 25px;
  background-color: transparent;
  text-transform: lowercase; }
  #zone-branding-wrapper #zone-branding .tb-megamenu button {
    width: 100%; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .nav-collapse {
    background-color: #000; }
    #zone-branding-wrapper #zone-branding .tb-megamenu .nav-collapse .tb-megamenu-nav {
      float: none; }
    #zone-branding-wrapper #zone-branding .tb-megamenu .nav-collapse .dropdown-toggle {
      background-color: #000; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-toggle {
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px; }
  #zone-branding-wrapper #zone-branding .tb-megamenu ul.level-0 {
    float: right; }
#zone-branding-wrapper #zone-branding .region-menu .primary-menu {
  float: right; }
