/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
/*
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400);
/* End Variables & Mixins */
/*HTML*/
.html {
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  color: #11baea;
  text-shadow: 0 0 1px #9b9b9b; }

h2 {
  font-size: 38px; }

body p {
  color: #4f4f4f;
  text-shadow: 0 0 3px #e5e5e5;
  font-size: 14px;
  line-height: 22px; }

/*Header*/
#zone-user-wrapper {
  height: 36px;
  background: #11BAEA;
  line-height: 36px; }
  #zone-user-wrapper .region-user-second {
    background: #11BAEA; }
    #zone-user-wrapper .region-user-second .region-user-second-inner {
      font-size: 10px; }
    #zone-user-wrapper .region-user-second div {
      float: right;
      color: #fff;
      font-weight: bold;
      margin: 0; }

body.front #zone-branding-wrapper {
  position: relative; }

#zone-branding-wrapper #zone-branding .tb-megamenu {
  /*margin-top: 25px;
  background-color: transparent;*/
  text-transform: lowercase; }
  #zone-branding-wrapper #zone-branding .tb-megamenu button {
    width: 100%; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .row-fluid {
    /*background: #11b5e4;*/ }
  #zone-branding-wrapper #zone-branding .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    color: #fff; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-toggle {
    border: none;
    /*color: #000;
    font-weight: normal;*/
    padding: 10px;
    background-color: #000; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-menu {
    background-color: #4B4B4A; }
  #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-menu li a:hover, #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-menu li a:focus, #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-submenu li a:hover, #zone-branding-wrapper #zone-branding .tb-megamenu .dropdown-submenu li a:focus {
    color: #fff; }
  #zone-branding-wrapper #zone-branding .tb-megamenu ul.level-0 {
    /*float: right;*/ }
#zone-branding-wrapper #zone-branding .region-menu {
  margin: 45px 0 0; }
  #zone-branding-wrapper #zone-branding .region-menu .main-menu a {
    text-transform: lowercase;
    border-color: #fff;
    background-color: #fff;
    color: #000;
    border-radius: 0; }
    #zone-branding-wrapper #zone-branding .region-menu .main-menu a.active, #zone-branding-wrapper #zone-branding .region-menu .main-menu a:hover {
      text-decoration: none;
      border-bottom: 3px solid #11BAEA; }
  #zone-branding-wrapper #zone-branding .region-menu .main-menu li {
    margin-right: 0; }
  #zone-branding-wrapper #zone-branding .region-menu .menu-356 a {
    text-transform: lowercase;
    color: #D50606; }

/*Content*/
h1#page-title {
  color: #C31010; }

#zone-preface-wrapper {
  background: url(../images/locations-bg.jpg) no-repeat;
  background-size: cover;
  padding: 0 0 45px 0;
  margin-bottom: -30px; }
  #zone-preface-wrapper .zone-preface {
    background: none; }

#zone-content {
  background: #fff; }

/*Info Blocks*/
#zone-postscript2 a.learnmore-button {
  color: #fff;
  margin: 0px 0px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 10px 0;
  text-align: center; }
#zone-postscript2 .region {
  position: relative;
  margin-bottom: 15px;
  /*box-shadow: 0 0 5px #646464;*/
  -moz-box-shadow: 0 0 5px #646464;
  -webkit-box-shadow: 0 0 5px #646464;
  box-shadow: 0 0 5px #646464;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }
  #zone-postscript2 .region .block {
    position: static;
    padding: 10px 20px 0; }
    #zone-postscript2 .region .block h2 {
      text-transform: lowercase;
      color: #fff;
      border-bottom: 1px solid #fff;
      line-height: 1.5em;
      margin-bottom: 15px;
      font-size: 21px;
      text-shadow: 1px 2px 4px #555555; }
#zone-postscript2 .region-postscript2-first {
  background: #E3C9AC; }
  #zone-postscript2 .region-postscript2-first a.learnmore-button {
    background: #B48456; }
#zone-postscript2 .region-postscript2-second {
  background: #B48456; }
  #zone-postscript2 .region-postscript2-second a.learnmore-button {
    background: #DFC1A3; }
#zone-postscript2 .region-postscript2-third {
  background: #C6C6B8; }
  #zone-postscript2 .region-postscript2-third a.learnmore-button {
    background: #11BAEA; }

#block-block-9 {
  font-size: 10px; }

#block-block-8 p, #block-block-9 p {
  font-size: 12px;
  padding: 2px 0 0 0;
  font-style: italic;
  color: #fff;
  text-shadow: 0 0 5px #2d2d2d; }

#zone-footer2 h2 {
  color: #fff; }

/*Testimonials*/
#zone-postscript-wrapper {
  background: url(../images/testimonials-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat; }
  #zone-postscript-wrapper .node-teaser {
    font-family: 'Open Sans';
    color: #fff;
    font-style: italic;
    font-size: 200%;
    border: none; }
    #zone-postscript-wrapper .node-teaser .field-name-field-author {
      float: right;
      font-weight: bold; }
      #zone-postscript-wrapper .node-teaser .field-name-field-author .field-item:before {
        content: '- '; }

/*Native BG transitions*/
.nativeBgTransition {
  -moz-transition: background 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
  -o-transition: background 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0ms;
  -webkit-transition: background 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0ms;
  transition: background 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0ms; }

/*Sponsors*/
#zone-footer-wrapper {
  background: #fff; }

/*Footer 2*/
#zone-footer2-wrapper {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #2c2c2c));
  background-image: -moz-linear-gradient(#4d4d4d, #2c2c2c);
  background-image: -webkit-linear-gradient(#4d4d4d, #2c2c2c);
  background-image: linear-gradient(#4d4d4d, #2c2c2c); }
  #zone-footer2-wrapper h2.block-title {
    font-size: 16px;
    font-weight: 600; }

.section-footer {
  text-shadow: 1px 3px 4px #000; }
  .section-footer ul.menu li {
    width: 50%;
    float: left;
    font-size: 12px;
    padding: 2px 0 0 0;
    font-style: italic; }
    .section-footer ul.menu li a:link {
      color: #fff; }
  .section-footer ul.menu a:link, .section-footer ul.menu a:visited {
    color: #fff; }
  .section-footer ul.menu a:hover {
    color: #eaeaea; }

/*Not Front*/
.not-front #section-header {
  -moz-box-shadow: 0 0 10px #d3d3d3;
  -webkit-box-shadow: 0 0 10px #d3d3d3;
  box-shadow: 0 0 10px #d3d3d3; }
.not-front #zone-content {
  background: transparent; }
.not-front .section-content {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwMDBweCIgY3k9IjEwMDBweCIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(1000px 1000px, #eeeeee, #cecece);
  background-image: -webkit-radial-gradient(1000px 1000px, #eeeeee, #cecece);
  background-image: radial-gradient(1000px 1000px, #eeeeee, #cecece); }
.not-front h1#page-title {
  color: #444;
  text-shadow: 0 0 10px #b0b0b0;
  margin: 10px 0; }

/*Contact Us*/
.group-header .field-name-field-page-banner {
  margin-bottom: 20px; }

.group-right .field-name-still-have-questions- {
  background: #fff;
  border-radius: 0 0 4px 4px; }
  .group-right .field-name-still-have-questions- h2.block-title {
    background: #444;
    padding: 8px 11px;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 15px; }
.group-right .field-name-student-service-side-menu h2.block-title {
  background: #444;
  padding: 8px 11px;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 15px; }
.group-right .field-name-student-service-side-menu .menu {
  padding-left: 0; }
  .group-right .field-name-student-service-side-menu .menu li {
    margin: 0 auto; }
  .group-right .field-name-student-service-side-menu .menu .leaf {
    background: #fff;
    padding: 5px 10px;
    font-size: 11px;
    border-bottom: 1px solid #eaeaea;
    list-style-image: none;
    list-style-type: none; }
    .group-right .field-name-student-service-side-menu .menu .leaf a:link {
      color: #797979; }
    .group-right .field-name-student-service-side-menu .menu .leaf a.active {
      color: #C31010; }

.group-middle .breadcrumb {
  margin: 0 20px 20px 0;
  background: transparent;
  border: none;
  color: #444;
  padding: 0;
  font-size: 15px; }
  .group-middle .breadcrumb a {
    color: #444; }
