/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
/*
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
*/
/* End Variables & Mixins */
/*Header*/
#zone-user-wrapper {
  height: 45px; }
  #zone-user-wrapper .region-user-second p {
    text-align: right; }

#zone-branding .region-menu {
  margin: 45px 0 0; }
  #zone-branding .region-menu .primary-menu {
    float: right; }

/*Content*/
#zone-content {
  background: #fff; }

/*Info Blocks*/
#zone-postscript2 a.learnmore-button {
  color: #fff;
  margin: 0px 0px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 10px 0;
  text-align: center; }
#zone-postscript2 .region {
  position: relative;
  /*box-shadow: 0 0 5px #646464;*/
  -moz-box-shadow: 0 0 5px #646464;
  -webkit-box-shadow: 0 0 5px #646464;
  box-shadow: 0 0 5px #646464;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }
  #zone-postscript2 .region .block {
    position: static;
    padding: 10px 20px 0; }
    #zone-postscript2 .region .block h2 {
      text-transform: lowercase;
      color: #fff;
      border-bottom: 1px solid #fff;
      line-height: 1.5em;
      margin-bottom: 15px;
      font-size: 21px;
      text-shadow: 1px 2px 4px #555555; }
#zone-postscript2 .region-postscript2-first {
  background: #E3C9AC; }
  #zone-postscript2 .region-postscript2-first a.learnmore-button {
    background: #B48456; }
#zone-postscript2 .region-postscript2-second {
  background: #B48456; }
  #zone-postscript2 .region-postscript2-second a.learnmore-button {
    background: #DFC1A3; }
#zone-postscript2 .region-postscript2-third {
  background: #C6C6B8; }
  #zone-postscript2 .region-postscript2-third a.learnmore-button {
    background: #11BAEA; }

/*Testimonials*/
.front-testimonials .views-row-last hr {
  display: none; }
