.social_media-sprite, a.twitter-button, a.twitter-button:hover, a.facebook-button, a.facebook-button:hover, a.gplus-button, a.gplus-button:hover, a.youtube-button, a.youtube-button:hover {
  background-image: url('../images/social_media-s8dd9f8b236.png');
  background-repeat: no-repeat; }

a.social-button {
  float: left; }

a.twitter-button {
  background-position: 0 -215px;
  height: 43px;
  width: 56px;
  text-indent: -9999px; }
  a.twitter-button:hover {
    background-position: 0 -172px; }

a.facebook-button {
  background-position: 0 -43px;
  height: 43px;
  width: 55px;
  text-indent: -9999px; }
  a.facebook-button:hover {
    background-position: 0 0; }

a.gplus-button {
  background-position: 0 -129px;
  height: 43px;
  width: 55px;
  text-indent: -9999px; }
  a.gplus-button:hover {
    background-position: 0 -86px; }

a.youtube-button {
  background-position: 0 -301px;
  height: 43px;
  width: 62px;
  text-indent: -9999px; }
  a.youtube-button:hover {
    background-position: 0 -258px; }
